.about
{
    background-color:#eff6ff;
    padding: 140px 100px;
}
.follow a
{
    padding: 10px;
    color: #000000;
    font-weight: bold;
}
@media screen and (max-width:600px)
{
    .follow a
    {
        padding: 50px;
    }
}