<section class="about container">
    <h3><font color ="Purple">Why Is a Healthy Weight Important?</font></h3>
    <p>
        Reaching and maintaining a healthy weight is important for overall health and can help you prevent and control many
        <br>
           diseases and conditions. If you are overweight or obese, you are at higher risk of developing serious health problems, 
           <br>including heart disease, high blood pressure, type 2 diabetes, gallstones, breathing problems, and certain cancers.
           <br>That is why maintaining a healthy weight is so important: It helps you lower your risk for developing these problems,
           <br>helps you feel good about yourself, and gives you more energy to enjoy life. </p>
    <h3>
        <font color ="Purple">
            What Factors Contribute To a Healthy Weight?
        </font>
    </h3>
    <p>
        Many factors can contribute to a person’s weight. These factors include environment,
        <br>family history and genetics, metabolism (the way your body changes food and 
         <br>oxygen into energy), and behavior or habits.
    </p>
    <h3>
        <font color ="Purple">
            Energy Balance
        </font></h3>    
    <p>
        Energy balance is important for maintaining a healthy weight.The amount of energy
        <br> or calories you get from food and drinks (energy IN) is balanced with the energy your 
        <br>body uses for things like  breathing, digesting, and being physically active (energy OUT):
    </p> 
        <ul type="disc">
            <li>The same amount of energy IN and energy OUT over time = weight stays
                <br> the same (energy balance)</li>
            <li>More energy IN than OUT over time = weight gain</li>
            <li>More energy OUT than IN over time = weight loss</li>
        </ul>
        <p>To maintain a healthy weight, your energy IN and OUT don’t have to balance
            <br>exactly every day. It’s the balance over time that helps you maintain 
            <br>a healthy weight.
        </p>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>

    </div>        
</section>
