.home img
{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}

.homecontent
{
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%,-50%);
}
.homecontent h1
{
    color: #122414c7;
    font-size: 50px;
}
.homecontent h1 span
{
    background-color:rgb(222, 224, 201);
}
.homecontent p{
    color:#122414c7;
    font-size:30px;
}
.homecontent p span
{
    background-color:rgb(222, 224, 201);
}
.homecontent a
{
    margin-top: 30px;
}

@media screen and (max-width:600px)
{
    .home img
{
    height: 700px;
}
    .homecontent h1
{
    font-size: 40px;        
}
}