    <h1>Login</h1>
    <form #loginForm=ngForm (ngSubmit)="loginSubmit2(loginForm.value)" novalidate>
    Enter E-mail : <input type="text"       name="mail"     ngModel required #mail=ngModel/> <br/>
    Enter Password : <input type="password" name="password" ngModel required #password=ngModel/> <br/>
    <button [disabled]="!loginForm.valid" >Submit</button>

</form>

<div *ngIf="mail.errors?.required && mail.touched">Please Enter data!</div>
<div *ngIf="password.errors?.required && password.touched">Please Enter password!</div>
