<h1>Registration</h1>
 User Id   :   <input type="text"  placeholder="Id" [(ngModel)] = 'register.Id'><br/>
 User Name :   <input type="text"  placeholder="name" [(ngModel)] = 'register.Name'><br/>
DateOfBirth:   <input type="date"  placeholder="DateOfBirth" [(ngModel)] = 'register.dob'><br/>
Gender     :   <input type="text"  placeholder="Gender" [(ngModel)] = 'register.Gender'><br/>
E-mail    :    <input type="text"  placeholder="E-mail" [(ngModel)] = 'register.mail'><br/>
Password     : <input type="password" placeholder="Password" [(ngModel)] = 'register.password'><br/>
  
  <input type = "submit" value="submit" (click)="RegService()">
