.imgdiv{      
    margin-left: 250px;      
    height: 200px;      
}      
.img1{      
    height: 400px;      
    width: 400px;           
}   
.img2{      
    height: 400px;      
    width: 400px;           
}       